p{
	background-color: red;
	color: white;
}

header{
	text-align: center;
	background: linear-gradient(red, orange);
	color: mediumspringgreen;
}

h1{
	margin: 0px;
}

nav{
	padding-left: 50px;
	font-size: 20px;
	background-color: yellow;
	color: darkblue;
}

body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

#output {
	border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
}

.entry {
	margin-bottom: 10px;
}